[Unit]
Description=Read all suppy meters and write the prometheus file.

[Service]
ExecStart=/opt/smartmeter/smartmeter-text-exporter.py
Type=exec
User=root
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
